-e git+git@github.com:cccs-web/mezzanine.git@589db7dcfa3a83964ca993356971c239cfdc4794#egg=mezzanine-origin
django >= 1.4.10, != 1.6.0, < 1.7
filebrowser_safe >= 0.3.3
grappelli_safe >= 0.3.9
tzlocal == 1.0
bleach >= 1.4
requests >= 2.1.0
requests-oauthlib >= 0.4
future == 0.9.0
pillow
psycopg2==2.5.2
ipython==2.0.0
gunicorn==18.0
kitchen==1.1.1
vectorformats==0.1
simplejson==3.4.1
openpyxl==1.8.6
Fabric==1.8.3
django-modeltranslation==0.7.3
mezzanine-pagedown==0.8
-e git://github.com/pwhipp/mezzanine-slides.git#egg=mezzanine-slides
South==1.0
setproctitle==1.1.8
docutils==0.12
django-taggit==0.12.1
django-reversion==1.8.5
