<!doctype html>
<html class="no-js" lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n future staticfiles  %}
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="MobileOptimized" content="width" />
        <meta name="HandheldFriendly" content="true" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="keywords" content="{% block meta_keywords %}{% endblock %}" />
        <meta name="description" content="{% block meta_description %}{% endblock %}" />
        <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />

        <title> {% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %} </title>

        <link href="{% static "imgs/favicon.ico" %}" rel="shortcut icon" />
        <link href="{% static "imgs/favicon.png" %}" rel="favicon" sizes="114x114" />
        {% ifinstalled mezzanine.blog %}
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}" />
        <link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}" />
        {% endifinstalled %}
    	<link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,700italic,300,700&amp;subset=latin,cyrillic" rel="stylesheet" type="text/css" />		
    	<link href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700&amp;subset=latin,cyrillic" rel="stylesheet" type="text/css" />
    	<link href="http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic&amp;subset=latin,cyrillic" rel="stylesheet" type="text/css" />

        <link href="{% static "css/app.css" %}" rel="stylesheet" type="text/css" />
        <script data-main="{% static "js/app/init" %}" src="{% static "js/libs/require.js" %}" type="text/javascript"></script>
        {% block extra_head %}{% endblock %}
    </head>

    <body id="{% block body_id %}body{% endblock %}">

    	<div id="wrapper" class="off-canvas-wrap" data-offcanvas data-role="page">
    		<div class="inner-wrap">

		        <header id="topbar" class="sticky">

		        	<nav class="top-bar" data-topbar>
		        		<ul class="title-area">
		        			<li class="toggle-topbar">
		        				<a href="#"><i class="icon-clipboard"></i></a>
		        			</li>
		        			<li class="name">
		        				<h1><a href="/"><img id="cccs-logo" src="{% static "imgs/cccs.svg" %}" title="Cross-Cultural Consulting Services" /></a></h1>
		        			</li>
		        			<li class="hide-for-medium-down">
		        				<a href="/"><img id="cccs-text" src="{% static "imgs/cccs_text.svg" %}" /></a>
		        			</li>
		        		</ul>		        		

		        		<section class="top-bar-section">
		        			{% page_menu "pages/menus/dropdown.html" %}
		        		</section>
		        	</nav>
	
		        	<nav class="search">
	                    {% search_form "all" %}
		        	</nav>

		        </header>

		        <aside class="right-off-canvas-menu">
		        	<ul class="off-canvas-list">
		        		<li><label>Internationalisation</label></li>
		        		<li><a href="#">Romanian</a></li>
		        		<li><a href="#">English</a></li>
		        		<li><a href="#">Russian</a></li>
		        		<li><a href="#">French</a></li>
		        		<li><a href="#">Spanish</a></li>
		        		
		        		<li><label>Internationalisation</label></li>
		        		<li>
		        			<div class="panel panel-default">
		        				<form action="{% url 'set_language' %}" method="post">
		        					{% csrf_token %}
		        					<input name="next" type="hidden" value="{{ redirect_to }}" />
		        					<select name="language">
		        						{% get_language_info_list for LANGUAGES as languages %}
		        						{% for language in languages %}
		        						<option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
		        							{{ language.name_local }} ({{ language.code }})
		        						</option>
		        						{% endfor %}
		        					</select>
		        					<input type="submit" value="Go" />
		        				</form>
		        			</div>		        				        			
		        		</li>
		        	</ul>
		        </aside>

		        <section id="breadcrumbs" class="row">
		        	<div class="small-12 columns">
		                <ul class="breadcrumbs">
		                    {% spaceless %}
		                    {% block breadcrumb_menu %}{% page_menu "pages/menus/breadcrumb.html" %}{% endblock %}
		                    {% endspaceless %}
		                </ul>		        		
		        	</div>
		        </section>

		        <section id="alerts" class="row">
		        	<div class="small-12 columns">
		                {% nevercache %}
		                {% if messages %}
		                <div class="messages">
		                    {% for message in messages %}
		                    <div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
		                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		                        {{ message }}
		                    </div>
		                    {% endfor %}
		                </div>
		                {% endif %}
		                {% endnevercache %}		        		
		        	</div>
		        </section>

		        <section id="content" data-role="content" class="row">
		        	<div class="small-12 columns">
	                    {% if settings.SITE_TITLE %}
                        {{ settings.SITE_TITLE }}
                        {% endif %}
                        {% if settings.SITE_TAGLINE %}<p class="navbar-text visible-lg">{{ settings.SITE_TAGLINE }}</p>{% endif %}
                    </div>

		        	<div class="small-12 columns">
		                <!-- <h1>{% block title %}{% endblock %}</h1> -->
		        	</div>
		        		
		        	<div class="small-{% if "Yes" == use_right_col|default:"Yes" %}9{% else %}12{% endif %} columns">
		        		{% block main %}{% endblock %}
		        	</div>
		        	{% if "Yes" == use_right_col|default:"Yes" %}
		        	<div class="small-3 columns">

		        		<div class="panel panel-default">
		        			{% nevercache %}
		        			{% include "accounts/includes/user_panel.html" %}
		        			{% endnevercache %}
		        			<div class="panel-body">
		        				{% block right_panel %}
		        				{% endblock %}
		        			</div>
		        		</div>
		        	</div>
		        	{% endif %}		        		
		        </section>

		        <footer id="footer" data-role="footer" class="row">
		            <div class="small-12 columns">
		                {% page_menu "pages/menus/footer.html" %}

		                <div class="row">
		                	<div class="small-12 columns">
		                	<hr />
		                	</div>
		                </div>
		            </div>
		        </footer>	    		

    			<a class="exit-off-canvas"></a>
    		</div>
    	</div>

    	<div id="logon_register" class="reveal-modal small" data-reveal>
    		<h2>Signup or register with CCCS</h2>
    		<p><small>Please login filling the following form. If you don't have an account yet you could easily register <a href="">here</a></small></p>
    		<ul class="tabs" data-tab>
    			<li class="tab-title active" class="tooltip has-tip tip-top" data-tooltip title="Login">
    				<a href="#login"><i class="icon-key"></i></a>
    			</li>
    			<li class="tab-title" class="tooltip has-tip tip-top" data-tooltip title="Register">
    				<a href="#register"><i class="icon-news"></i></a>
    			</li>
    			<li class="tab-title" class="tooltip has-tip tip-top" data-tooltip title="General form UI elements">
    				<a href="#forms-ui"><i class="icon-adjustments"></i></a>
    			</li>
    		</ul>
    		<div class="tabs-content">
    			<div class="content active" id="login">
    				<form method="post">
    					<fieldset>
    						<legend>
    							Log in 
    						</legend>
    						<input type="hidden" name="referrer" value="https://production.crossculturalconsult.com/">
    						<input type="hidden" name="csrfmiddlewaretoken" value="ID4FzTGofneTMTCYf4FrrZoGLvcoICbE">
    						<div class="form-group input_id_username ">
    							<label class="control-label" for="id_username">
    								Username or email address 
    							</label>
    							<input autofocus="" id="id_username" name="username" required="" type="text">
    						</div>
    						<div class="form-group input_id_password ">
    							<label class="control-label" for="id_password">
    								Password
    							</label>
    							<input id="id_password" name="password" required="" type="password">
    						</div>
    						<div class="form-actions">
    							<input class="button alert small" type="submit" value="Log in">
    						</div>
    					</fieldset>
    				</form>
    			</div>
    			<div class="content" id="register">
    				<form method="post">
    					<fieldset>
    						<legend>Sign up
    						</legend>
    						<input type="hidden" name="referrer" value="https://production.crossculturalconsult.com/accounts/login/?next=/">
    						<input type="hidden" name="csrfmiddlewaretoken" value="ID4FzTGofneTMTCYf4FrrZoGLvcoICbE">
    						<div class="form-group input_id_first_name ">
    							<label class="control-label" for="id_first_name">
    								First name
    							</label>
    							<input autofocus="" id="id_first_name" maxlength="30" name="first_name" type="text">
    						</div>
    						<div class="form-group input_id_last_name ">
    							<label class="control-label" for="id_last_name">
    								Last name
    							</label>
    							<input id="id_last_name" maxlength="30" name="last_name" type="text">
    						</div>
    						<div class="form-group input_id_email ">
    							<label class="control-label" for="id_email">
    								Email address
    							</label>
    							<input id="id_email" maxlength="75" name="email" type="email">
    						</div>
    						<div class="form-group input_id_username ">
    							<label class="control-label" for="id_username">
    								Username
    							</label>
    							<input id="id_username" maxlength="30" name="username" required="" type="text">
    							<p class="help-block">
    								Only letters, numbers, dashes or underscores please
    							</p>
    						</div>
    						<div class="form-group input_id_password1 ">
    							<label class="control-label" for="id_password1">
    								Password
    							</label>
    							<input autocomplete="off" id="id_password1" name="password1" type="password">
    						</div>
    						<div class="form-group input_id_password2 ">
    							<label class="control-label" for="id_password2">
    								Password (again)
    							</label>
    							<input autocomplete="off" id="id_password2" name="password2" type="password">
    						</div>
    						<div class="form-actions">
    							<input class="button success small" type="submit" value="Signup">
    						</div>
    					</fieldset>
    				</form>				
    			</div>
    			<div class="content" id="forms-ui">
    				<form>
    					<fieldset>
    						<legend>Fieldset</legend>
    						<div class="row">
    							<div class="large-12 columns">
    								<label>Input Label<input type="text" placeholder="large-12.columns" />
    								</label>
    							</div>
    						</div>
    						<div class="row">
    							<div class="large-4 columns">
    								<label>Input Label<input type="text" placeholder="large-4.columns" />
    								</label>
    							</div>
    							<div class="large-4 columns">
    								<label>Input Label<input type="text" placeholder="large-4.columns" />
    								</label>
    							</div>
    							<div class="large-4 columns">
    								<div class="row collapse">
    									<label>Input Label</label>
    									<div class="small-9 columns">
    										<input type="text" placeholder="small-9.columns" />
    									</div>
    									<div class="small-3 columns">
    										<span class="postfix">.com</span>
    									</div>
    								</div>
    							</div>
    						</div>
    						<div class="row">
    							<div class="large-12 columns">
    								<label>Select Box
    									<select>
    										<option value="husker">Husker</option>
    										<option value="starbuck">Starbuck</option>
    										<option value="hotdog">Hot Dog</option>
    										<option value="apollo">Apollo</option>
    									</select>
    								</label>
    							</div>
    						</div>
    						<div class="row">
    							<div class="large-6 columns">
    								<label>Choose Your Favorite</label>
    								<input type="radio" name="pokemon" value="Red" id="pokemonRed">
    								<label for="pokemonRed">Red</label>
    								<input type="radio" name="pokemon" value="Blue" id="pokemonBlue">
    								<label for="pokemonBlue">Blue</label>
    							</div>
    							<div class="large-6 columns">
    								<label>Check these out</label>
    								<input id="checkbox1" type="checkbox">
    								<label for="checkbox1">Checkbox 1</label>
    								<input id="checkbox2" type="checkbox">
    								<label for="checkbox2">Checkbox 2</label>
    							</div>
    						</div>
    						<div class="row">
    							<div class="large-12 columns">
    								<label>Textarea Label<textarea placeholder="small-12.columns">
    								</textarea>
    							</label>
    						</div>
    					</div>
    					<div class="row collapse">
    						<div class="small-3 large-2 columns">
    							<span class="prefix">http://</span>
    						</div>
    						<div class="small-9 large-10 columns">
    							<input type="text" placeholder="Enter your URL...">
    						</div>
    					</div>
    					<div class="row">
    						<div class="large-6 columns">
    							<div class="row collapse">
    								<div class="small-10 columns">
    									<input type="text" placeholder="Hex Value">
    								</div>
    								<div class="small-2 columns">
    									<a href="#" class="button postfix">Go</a>
    								</div>
    							</div>
    						</div>
    						<div class="large-6 columns">
    							<div class="row collapse">
    								<div class="small-9 columns">
    									<input type="text" placeholder="Value">
    								</div>
    								<div class="small-3 columns">
    									<span class="postfix radius">Label</span>
    								</div>
    							</div>
    						</div>
    					</div>
    					<div class="row">
    						<div class="large-6 columns">
    							<label class="error">Error<input type="text" class="error" />
    							</label>
    							<small class="error">Invalid entry</small>
    						</div>
    						<div class="large-6 columns error">
    							<label>Another Error<input type="text" />
    							</label>
    							<small class="error">Invalid entry</small>
    						</div>
    					</div>
    					<textarea class="error" placeholder="Message..."> </textarea>
    					<small class="error">Invalid entry</small>
    					<div class="range-slider" data-slider>
    						<span class="range-slider-handle">
    						</span>
    						<span class="range-slider-active-segment">
    						</span>
    						<input type="hidden">
    					</div>
    				</fieldset>
    			</form>		
    		</div>
    	</div>
    	<a class="close-reveal-modal">&#215;</a>
    </div>

    </body>
</html>