.off-canvas-wrap {
	.inner-wrap {
		.right-off-canvas-menu {
			.off-canvas-list {
				li {
					&:first-child {
						font-size: .75rem;
						padding: .5rem 1rem;
						color: rgba($wh,.25);
					}

					label {
						&:hover {
							background: rgba($bl,.25);
						}
					}
				}
			}
		}
	}
}