// Topbar component styling
#topbar {
	.top-bar {
		width: 100%;
		padding-bottom: $topbar-height;
		border-bottom: 1px solid $greyd;
		@include shadow(0,2rem,3rem,4px,rgba($bl,.03),false);
		@include single-transition(all, .5s, ease-in-out);

		&.scrolling {
			@include shadow(0,.2rem,.2rem,.2rem,rgba($bl,.1),false);

			.top-bar-section {
				> ul {
					> li {
						&.has-dropdown {
							.dropdown {
								@include shadow(0,.2rem,.2rem,.2rem,rgba($bl,.1),false);
							}
						}
					}
				}
			}
		}

		.title-area {
			line-height: 3.25; 

			li {
				float: left;

				&.name {
					h1 {
						line-height: 3.75rem;
					}
				}

				#cccs-logo {
					width: 4.5rem;
				}

				#cccs-text {
					width: 10rem;
					margin: 1.25rem 0 .5rem;
				}
			}
		}

		.top-bar-section {
			> ul {
				> li {
					border-left: 1px solid $greye;

					&.has-dropdown {
						a {
							padding-right: 3rem !important; 
						}

						.dropdown {
							@include shadow(0,.2rem,.2rem,0,rgba($bl,.1),false);
							@include single-transition(all, .25s, ease-in-out);

							li {
								&.has-dropdown {
									a {
										&:after {
											top: 50%;
											margin-top: -.5rem;
										}
									}
								}

								&.nav-label {
									background: $topbar-dropdown-link-bg;

									label { 
										padding: .5rem;
										font-size: 0.5rem;
									}
								}

								a {
									padding: .5rem;
									font-size: rem-calc(12px);
									line-height: 1.5;
									border-bottom: 1px solid rgba($wh,.05);
									@include fading-opacity(98,100);

									&:hover {
										color: $greye;
										background: scale-color($grey5, $lightness: -10%);
									}
								}
							}
						}
					}			
				}
			}
		}
	}

	.search {
		width: 100%;
		min-height: 2.5rem;
		display: none;
		background: $greye;

		ul {
			li {
				display: inline-block;
				list-style-type: none;
				float: left;

				dl {
					margin: .25rem 2rem 0 0; 

					dt {
						em {
							color: $greyc;
						}
					}

					dd { 
						[type="radio"] {
							display: none;
						}
					}
				}

				.srcel {
					margin: .15rem 0 0;

					&.input-text {
						border: 0;
						margin: .15rem 0 0;
						height: 2.2rem;
						font-size: .75rem;
						background: rgba($wh,.5);
						@include single-transition(all, .25s, ease-in-out);

						&:focus {
							color: $grey4;
							background: $wh;
							@include single-transition(all, .5s, ease-in-out);
						}
					}
				}
			}
		}
	}
}

@media #{$medium-up} {
	.top-bar {
		.top-bar-section {
			> ul {
				> li {
					&:last-child {
						a {
							padding-right: 2rem;
						}
					}

					.dropdown {
						li { 
							width: 15rem;

							&:not(.has-form):hover {
								a {
									color: $greyc;
									background: $grey4;
								}
							}

							a {
								width: inherit;
								white-space: normal;
								padding: .75rem .5rem !important;
							}
						}
					}
				}
			}
		}
	}

	.search {
		padding: 0 3rem;
	}
}