// typography 

.open-sans-condensed {
	font-family: 'Open Sans Condensed', sans-serif; 
}

.roboto-condensed {
	font-family: 'Roboto Condensed', sans-serif;
}

.noto-sans {
	font-family: 'Noto Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 { 
	letter-spacing: -.05rem;
}