{% load mezzanine_tags %}

{% if page.slide_set.all %}
  <div class="container">
    <div class="row">
      <div class="small-12 columns">
        <ul class="rslides">
          {% for image in page.slide_set.all %}
            <li>
              <img src="{{ MEDIA_URL }}{% thumbnail image.file 940 300 %}" alt="{{ image.description }}"/>
              {% if image.caption %}
                <p class="caption">{{ image.caption|safe }}</p>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <script>
    $(function() {
      $('.rslides').responsiveSlides();
    });
  </script>
{% endif %}

