{% extends 'documents/base_tree.html' %}
{% block main %}
    <h1>{{ category }}</h1>
    <p>Go up to
        {% if category.parent %}
            <a href="{{ category.parent.get_absolute_url }}">
                {{ category.parent }}
            </a>
        {% else %}
            <a href="{% url 'document-category-root' %}">root</a>
        {% endif %}
    </p>
    {% if category.children.count %}
        <h2>Subcategories</h2>
        <div class="tree well">
            <ul>
                {% for category in category.children.all %}
                    {% include 'documents/includes/category_subtree.html' %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% if document_list %}
        <h2>{{ document_list.count }} Documents</h2>
        {% include 'documents/includes/document_list.html' %}
    {% else %}
        <p><em>No entries for {{ category }}</em></p>
    {% endif %}
{% endblock main %}