{% extends 'base.html' %}
{% load staticfiles %}
{% block extra_head %}
    <script src="{% static 'documents/js/angular.js' %}" type="text/javascript"></script>
    <script src="{% static 'documents/js/lodash.js' %}" type="text/javascript"></script>
    <script src="{% static 'documents/js/angularjs-dropdown-multiselect.js' %}" type="text/javascript"></script>
    <script>
        angular.module('bibtex', ['angularjs-dropdown-multiselect'])
    </script>
{% endblock %}
{% block main %}
    <h1>BibTex</h1>
    <p>
        This is a test page to review the layout/design/framework. It does not use real data.
        It demonstrates the use of AngularJS to make the page more dynamic. In reality, the server calls will slow things down. You
        can break things in interesting (non-fatal) ways by making edits that affect the current search constraints.
    </p>
    <div ng-app="bibtex">
        <div id="search-and-results" ng-controller="bibtexSearchController">
            <div class="well">
                <div class="row">
                    <div class="col-md-8">
                        <input
                                type="text"
                                class="form-control"
                                id="search_input"
                                placeholder="Enter search text here"
                                ng-model="searchText">
                    </div>
                    <div class="col-md-4">
                        <div ng-dropdown-multiselect=""
                             options="searchFields"
                             selected-model="searchModel"
                             extra-settings="searchSettings">
                        </div>
                    </div>
                </div>
            </div>
            <div class="well">
                <div class="row" ng-controller="bibtexResultsController">
                    <div class="col-md-7">
                        <table class="well table table-responsive table-hover">
                            <thead>
                            <tr>
                                <th>Title</th>
                                <th>Author</th>
                                <th>Tag</th>
                                <th>Category</th>
                                <th>More cols</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% verbatim %}
                            <tr ng-repeat="document in documents | filter:searchFilter"
                                ng-click="selectDocument(document, $index)"
                                ng-class="{selected: $index==selectedIndex}">
                                <td>{{ document.title }}</td>
                                <td>{{ document.author }}</td>
                                <td>{{ document.tag }}</td>
                                <td>{{ document.category }}</td>
                                <td>more info</td>
                            </tr>
                            {% endverbatim %}
                            </tbody>
                        </table>
                    </div>
                    <div id="active-file-details" class="well col-md-5" ng-show="selectedDocument">
                        {% verbatim %}
                        <h3>{{ selectedDocument.title }}</h3>
                        <form class="form-horizontal" novalidate>
                            <div class="form-group">
                                <label for="latex" class="col-sm-2">LaTeX</label>
                                <div id="latex" class="col-sm-10">
                                    <p class="form-control-static"><strong>\cite(tbd)</strong></p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="citation" class="col-sm-2">Citation</label>
                                <div id="citation" class="col-sm-10">
                                    <p class="form-control-static"><strong>
                                        "{{ selectedDocument.title }}" by {{ selectedDocument.author }}
                                    </strong></p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="title" class="col-sm-2">Title</label>
                                <input id="title" ng-model="selectedDocument.title">
                            </div>
                            <div class="form-group">
                                <label for="tag" class="col-sm-2">Tag</label>
                                <input id="tag" ng-model="selectedDocument.tag">
                            </div>
                            <div class="form-group">
                                <label for="category" class="col-sm-2">Category</label>
                                <input id="category" ng-model="selectedDocument.category">
                            </div>
                            <div class="form-group">
                                <label for="type" class="col-sm-2">Type</label>
                                <select id="type" class="form-control" ng-model="selectedDocument.type">
                                    <option>Article</option>
                                    <option>Book</option>
                                </select>
                            </div>
                            <div id="article_fields" ng-show="selectedDocument.type=='Article'">
                                <div class="form-group">
                                    <label for="journal" class="col-sm-2">Journal</label>
                                    <input id="journal" ng-model="selectedDocument.journal">
                                </div>
                                <div class="form-group">
                                    <label for="year" class="col-sm-2">Journal</label>
                                    <input id="year" ng-model="selectedDocument.year">
                                </div>
                            </div>
                            <div id="book_fields" ng-show="selectedDocument.type=='Book'">

                                <div class="form-group">
                                    <label for="isbn" class="col-sm-2">ISBN</label>
                                    <input id="isbn" ng-model="selectedDocument.isbn">
                                </div>
                            </div>
                        </form>
                        {% endverbatim %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}
{% block extra_js %}
    <script src="{% static 'documents/js/bibtexSearchController.js' %}" type="text/javascript"></script>
    <script src="{% static 'documents/js/bibtexResultsController.js' %}" type="text/javascript"></script>
{% endblock %}