.navbar-default .navbar-brand {
    color: rgba(210, 205, 184, 1);
}
.navbar-default .navbar-nav > li > a {
    color: rgba(210, 205, 184, 1);
}
body {
    line-height: 135%;
}
ul, ol {
    padding-left: 36px;
}
img {
    vertical-align: top;
}
footer {
    background-color: #2B3356;
    border-top: 1px solid #E7E7E7;
    margin-top: 15px;
    padding: 15px 0px 30px;
}
