# Only put secret stuff here that you don't want in the repo
# This file must be manually transferred and updated for each installation but it will hopefully
# almost never change.

SECRET_KEY = "changemeaekuesaeGheCheechoh9Uus7ritheiphi2aish1voig8aeHei6chahngad6aeduv"
NEVERCACHE_KEY = "changemero3chaeshieseebayaem4muaP0wi6hohs4dei8eop7fiCheiyaexa3chooshoang"
DBPASSWORD = "changemeP0wi6hoh"