{% extends 'base.html' %}
{% block meta_title %}
Thematic Experience
{% endblock meta_title %}
{% with use_right_col=False %}
    {% block main %}
        <h2>Projects by {{ categorization_name }}</h2>
        {% if show_piechart1 %}
        <div id="graph_wrapper">
            <div id="map_container"></div>
            <div id="info">
                <span class="f32"><span id="flag"></span></span>
                <h2>Overall</h2>
                <div class="subheader">Click countries to view it's specific data</div>
                <div id="country-chart"></div>
            </div>
        </div>
        {% endif %}
        <div class="panel-group" id="theme_accordion">
            {% for super_name, super_info in categorization.items %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"><a class="panel-toggle" data-toggle="collapse" data-parent="#theme_accordion" href="#acc{{ super_info.id }}">
                            {{ super_name }}&nbsp;&nbsp;&nbsp;<strong>({{ super_info.count }} project{{ super_info.count|pluralize }})</strong>
                        </a></h4>
                    </div>
                    <div id="acc{{ super_info.id }}" class="panel-body collapse">
                        <div class="panel-inner">

                            <!-- Here we insert another nested accordion -->

                            <div class="panel-group" id="inneracc{{ super_info.id }}">
                                {% for sub_name, sub_info in super_info.subs.items %}
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title"><a class="panel-toggle" data-toggle="collapse" data-parent="#inneracc{{ super_info.id }}" href="#collapse{{ sub_info.id }}">
                                                {{ sub_name }}&nbsp;&nbsp;&nbsp;<strong>({{ sub_info.count }} project{{ sub_info.count|pluralize }})</strong>
                                            </a></h4>
                                        </div>
                                        <div id="collapse{{ sub_info.id }}" class="panel-body collapse">
                                            <div class="panel-inner">
                                                <ul>
                                                    {% for project in sub_info.projects %}
                                                        <li><a href="{% url 'project-detail' slug=project.slug %}">{{ project.name }}</a></li>
                                                    {% empty %}
                                                        <li>No projects found.</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>

                            <!-- Inner accordion ends here -->

                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>



{% endblock main %}
{% endwith %}

{% if show_piechart1 %}
    {% load staticfiles %}
    {% block extra_css %}
    {% if show_piechart1 %}
        <link rel="stylesheet" href="{% static "highcharts/style.css" %}">
        <link rel="stylesheet" type="text/css" href="http://cloud.github.com/downloads/lafeber/world-flags-sprite/flags32.css" />
    {% endif %}
    {% endblock extra_css %}
    {% block extra_js %}
        <script src="{% static "highcharts/highcharts.js" %}" type="text/javascript"></script>
        <script src="{% static "highcharts/map.js" %}" type="text/javascript"></script>
        <script src="{% static "highcharts/world.js" %}" type="text/javascript"></script>
        <script>
            $(function() {

                var data = {{ country_projects | safe }},countryChart;
                var mapData = Highcharts.geojson(Highcharts.maps['custom/world']);
                var overall_data = [];
                var country_data = {{ country_categorization | safe }};
                {% for super_name, super_info in categorization.items %}
                    overall_data.push(['{{super_name|safe}}', {{super_info.count|safe}}]);
                {% endfor %}
                var overallData
                $.each(mapData, function () {
                    this.id = this.properties['hc-key']; // for Chart.get()
                    this.flag = this.id.replace('UK', 'GB').toLowerCase();
                });

                // Wrap point.select to get to the total selected points
                Highcharts.wrap(Highcharts.Point.prototype, 'select', function (proceed) {

                    proceed.apply(this, Array.prototype.slice.call(arguments, 1));

                    var points = mapChart.getSelectedPoints();

                    if (points.length) {
                        if (points.length === 1) {
                            $('#info #flag').attr('class', 'flag ' + points[0].flag);
                            $('#info h2').html(points[0].name);
                            countryChart.series[0].update({data: country_data[points[0].code3]});
                            countryChart.redraw();
                        }

                    } else {
                        $('#info #flag').attr('class', '');
                        $('#info h2').html('Overall');
                        countryChart.series[0].update({data: overall_data});
                        countryChart.redraw();
                    }
                });
                // Initiate the map chart
                mapChart = $('#map_container').highcharts('Map', {

                    title : {
                        text : 'Projects by {{ categorization_name }}'
                    },
                    mapNavigation: {
                        enabled: true,
                        buttonOptions: {
                            verticalAlign: 'bottom'
                        }
                    },

                    colorAxis: {
                        endOnTick: false,
                        startOnTick: false
                    },

                    tooltip: {
                        footerFormat: '<span style="font-size: 10px">(Click for details)</span>'
                    },

                    series : [{
                        data : data,
                        mapData: mapData,
                        joinBy: ['iso-a3', 'code3'],
                        name: 'Current population',
                        allowPointSelect: true,
                        cursor: 'pointer',
                        states: {
                            select: {
                                color: '#a4edba',
                                borderColor: 'black',
                                dashStyle: 'shortdot'
                            }
                        }
                    }]
                }).highcharts();

                countryChart = $('#country-chart').highcharts({
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false
                    },
                    title: {
                        text: null
                    },
                    tooltip: {
                        pointFormat: 'count: <b>{point.y}</b>, share: <b>{point.percentage:.1f}%</b>'
                    },
                    legend: {

                        width: '100%',
                        itemWidth: '100%'
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: false,
                                format: '<b>{point.name}</b>: {point.y}',
                                style: {
                                    color: (Highcharts.theme && Highcharts.them.contrastTextColor) || 'black'
                                }
                            },
                            showInLegend: true
                        }
                    },
                    series: [{
                        type: 'pie',
                        name: '',
                        data: overall_data
                    }]
                }).highcharts();
            });
        </script>
    {% endblock extra_js %}
{% endif %}