{% extends 'base.html' %}

{% if show_piechart1 or show_piechart2 %}
    {% load staticfiles %}
    {% block extra_css %}
        <link rel="stylesheet" href="{% static "highcharts/style.css" %}">
        <link rel="stylesheet" type="text/css" href="http://cloud.github.com/downloads/lafeber/world-flags-sprite/flags32.css" />
    {% endblock extra_css %}
    {% block extra_js %}
        <script src="{% static "highcharts/highcharts.js" %}" type="text/javascript"></script>
        <script src="{% static "highcharts/map.js" %}" type="text/javascript"></script>
        <script src="{% static "highcharts/world.js" %}" type="text/javascript"></script>
        {% if show_piechart1 %}
            {% include 'projects/include/piechart1.js' %}
        {% endif %}
        {% if show_piechart2 %}
            <script src="{% static "highcharts/drilldown.js" %}" type="text/javascript"></script>
            {% include 'projects/include/piechart2.js' %}
        {% endif %}
    {% endblock extra_js %}
{% endif %}

{% block meta_title %}
Thematic Experience
{% endblock meta_title %}
{% with use_right_col=False %}
    {% block main %}
        <h2>Projects by {{ categorization_name }}</h2>
        {% if show_piechart1 or show_piechart2 %}
        <div id="graph_wrapper">
            <div id="map_container"></div>
            <div id="info">
                <span class="f32"><span id="flag"></span></span>
                <h2>Overall</h2>
                <div class="subheader">Click countries to view it's specific data</div>
                <div id="country-chart"></div>
            </div>
        </div>
        {% endif %}
        <div class="panel-group" id="theme_accordion">
            {% for super_name, super_info in categorization.items %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"><a class="panel-toggle" data-toggle="collapse" data-parent="#theme_accordion" href="#acc{{ super_info.id }}">
                            {{ super_name }}&nbsp;&nbsp;&nbsp;<strong>({{ super_info.count }} project{{ super_info.count|pluralize }})</strong>
                        </a></h4>
                    </div>
                    <div id="acc{{ super_info.id }}" class="panel-body collapse">
                        <div class="panel-inner">

                            <!-- Here we insert another nested accordion -->

                            <div class="panel-group" id="inneracc{{ super_info.id }}">
                                {% for sub_name, sub_info in super_info.subs.items %}
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title"><a class="panel-toggle" data-toggle="collapse" data-parent="#inneracc{{ super_info.id }}" href="#collapse{{ sub_info.id }}">
                                                {{ sub_name }}&nbsp;&nbsp;&nbsp;<strong>({{ sub_info.count }} project{{ sub_info.count|pluralize }})</strong>
                                            </a></h4>
                                        </div>
                                        <div id="collapse{{ sub_info.id }}" class="panel-body collapse">
                                            <div class="panel-inner">
                                                <ul>
                                                    {% for project in sub_info.projects %}
                                                        <li><a href="{% url 'project-detail' slug=project.slug %}">{{ project.name }}</a></li>
                                                    {% empty %}
                                                        <li>No projects found.</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>

                            <!-- Inner accordion ends here -->

                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% if show_piechart1 %}

    {% endif %}
{% endblock main %}
{% endwith %}



