{% extends 'base.html' %}
{% load mkdown_filters projects_tags %}
{% block main %}
    <h1>{{ project.name }}</h1>
    {% if can_update %}
        <p>
            <a href="{% url "cv-update" slug=cv.slug %}" class="btn btn-sm btn-default">
                <span class="glyphicon glyphicon-edit"></span>Edit
            </a>
        </p>
    {% endif %}

    <h2>Summary Profile</h2>
    {{ project.content|mkdown }}

    <h2>Project Details</h2>
    <table class="table table-striped table-bordered table-hover table-condensed">
        <tbody>
        <tr>
            <th width="30%">Project Owner</th>
            <td>{{ project.owner }}</td>
        </tr>
        <tr>
            <th width="30%">Project Sponsor / Financer</th>
            <td>{{ project.sponsor }}</td>
        </tr>
        <tr>
            <th width="30%">TA / Grant No.</th>
            <td>{{ project.loan_or_grant}}</td>
        </tr>
        <tr>
            <th width="30%">Period of Operation</th>
            <td>{{ project.date_range }}</td>
        </tr>
        <tr>
            <th width="30%">Region</th>
            <td>{{ project.region }}</td>
        </tr>
        <tr>
            <th width="30%">Country</th>
            <td>{{ project.countries.all|join }}</td>
        </tr>
        <tr>
            <th width="30%">Locality</th>
            <td>{{ project.locality }}</td>
        </tr>
        {% if project.subproject_set.count %}
        <tr>
            <th width="30%">Sub-projects / tranches</th>
            <td>
                <ul>
                    {% for sub_project in project.subproject_set.all %}
                        <li>{{ sub_project.name }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        {% endif %}
        </tbody>
    </table>
    <h2>CCCS Associate Role</h2>
    <table class="table table-striped table-bordered table-hover table-condensed">
        <thead>
        <tr>
            <th width="18%">Consultant</th>
            {% if project.subproject_set.count %}
                <th>Sub-project</th>
            {% endif %}
            <th width="22%" >Position</th>
            <th>Activities</th>
        </tr>
        </thead>
        <tbody>
        {% for cvproject in cvproject_list %}
            <tr>
                <td>
                    <a href="{% url 'cv-detail' slug=cvproject.cv.slug %}">
                        {{ cvproject.cv.user.last_name }}, {{ cvproject.cv.user.first_name }}
                    </a>
                </td>
                {% if project.subproject_set.count %}
                    <td>{{ cvproject.subproject.name }}</td>
                {% endif %}
                <td>{{ cvproject.position }}</td>
                <td>{{ cvproject.activities|mkdown }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock main %}
