{% extends 'base.html' %}
{% load mkdown_filters %}
{% block main %}
    <h1>CV for {{ cv.user.first_name }} {{ cv.user.last_name }}</h1>
    {% if can_update %}
        <p>
            <a href="{% url "cv-update" slug=cv.slug %}" class="btn btn-sm btn-default">
                <span class="glyphicon glyphicon-edit"></span>Edit
            </a>
        </p>
    {% endif %}

    {{ cv.content|mkdown }}
    {% if themes or sectors or countries %}
        {% include 'cvs/includes/cv_detail/specialization.html' %}
    {% endif %}
    {% if cv.cveducation_set.first or cv.cvtrainig_set.first %}
        <h2>Educational Background</h2>
        {% if cv.cveducation_set.first %}
            {% include 'cvs/includes/cv_detail/education.html' %}
        {% endif %}
        {% if cv.cvtraining_set.first %}
            {% include 'cvs/includes/cv_detail/training.html' %}
        {% endif %}
    {% endif %}

    {% if cv.cvmembership_set.first %}
        {% include 'cvs/includes/cv_detail/membership.html' %}
    {% endif %}

    {% if cv.cvproject_set.first %}
        <h2>Project Experience</h2>
        <div class="panel-group" id="project_accordion">
            {% for cvproject in cv.cvproject_set.all %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <a class="panel-toggle" data-toggle="collapse" data-parent="#project_accordion" href="#prj{{ cvproject.id }}">
                                <span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;{{ cvproject.project.name }}
                            </a>
                            &nbsp;(<a href="{% url 'project-detail' slug=cvproject.project.slug %}">visit project</a>)
                        </h3>
                    </div>
                    <div id="prj{{ cvproject.id }}" class="panel-body collapse">
                        <div class="panel-inner">
                            <table class="table table-striped table-bordered table-hover table-condensed">
                                <tbody>
                                {% if cvproject.subproject %}
                                    <tr>
                                        <th>Sub-project:</th>
                                        <td>{{ cvproject.subproject.name }}</td>
                                    </tr>
                                {% endif %}
                                <tr>
                                    <th>Position:</th>
                                    <td>{{ cvproject.position }}</td>
                                </tr>
                                <tr>
                                    <th>Person Months:</th>
                                    <td>{{ cvproject.person_months }}</td>
                                </tr>
                                <tr>
                                    <th>Activities:</th>
                                    <td>{{ cvproject.activities|mkdown }}</td>
                                </tr>
                                <tr>
                                    <th>References:</th>
                                    <td>{{ cvproject.references|mkdown }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% if cv.cvemployment_set.first %}
        {% include 'cvs/includes/cv_detail/employment.html' %}
    {% endif %}
    {% if cv.cvlanguage_set.first %}
        {% include 'cvs/includes/cv_detail/languages.html' %}
    {% endif %}
{% endblock main %}
