{% extends 'base.html' %}
{% block main %}
    <h1>Updating CV for {{ object.user.first_name }} {{ object.user.last_name }}</h1>
    <h2>Bio-data</h2>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Update" />
        <h2>Education</h2>
        {% include 'cvs/includes/cvformset.html' with formset=formset_cveducation %}
        <h2>Training</h2>
        {% include 'cvs/includes/cvformset.html' with formset=formset_cvtraining %}
        <h2>Professional Membership</h2>
        {% include 'cvs/includes/cvformset.html' with formset=formset_cvmembership %}
        <h2>Projects</h2>
        {% include 'cvs/includes/cvformset.html' with formset=formset_cvproject %}
        <h2>Languages</h2>
        {% include 'cvs/includes/cvformset.html' with formset=formset_cvlanguage %}
    </form>
{% endblock main %}
