{% extends 'base.html' %}
{% block main %}
    <h1>Updating CV for {{ object.user.first_name }} {{ object.user.last_name }}</h1>
    <h2>Bio data</h2>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Update" />
    <h2>Projects</h2>
        {{ cvproject_formset.management_form }}
        {% for cvproject_form in cvproject_formset %}
            {{ cvproject_form }}
        {% endfor %}
        <input type="submit" value="Update" />
    </form>
{% endblock main %}