{% extends 'base.html' %}
{% load mezzanine_tags %}
{% block main %}
    <h1>{{ category }}</h1>
    <p>Go up to
        {% if category.parent %}
            <a href="{{ category.parent.get_absolute_url }}">
                {{ category.parent }}
            </a>
        {% else %}
            <a href="{% url 'document-category-root' %}">root</a>
        {% endif %}
    </p>
    {% if category.children.count %}
        <h2>Subcategories</h2>
        <ul>
            {% for child in category.children.all %}
                <li><a href="{{ child.get_absolute_url }}">{{ child }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if document_list %}
        <h2>{{ document_list.count }} Entries</h2>
        {% include 'documents/includes/document_list.html' %}
    {% else %}
        <p><em>No entries for {{ category }}</em></p>
    {% endif %}
{% endblock main %}